a{
  color:black;
}
p{
  text-align:center;
  font-size:25px;
  margin:5;
}
h1{
  font-size:70px;
  text-align:center;
  border-bottom: 1px solid gray;
  margin:0;
  padding:20px;
}
h2{
  text-align:center;
  font-size:50px;
  margin:0;
}
ol{
  border-right:1px solid gray;
  width:100px;
  margin:0;
  padding:20px;
  padding-left:33px;
}
body{
  margin:0;
}
img{
  display:block; margin: 0px auto;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
.article{
  padding-left:10px;
}
#line{
  border-bottom:1px solid gray;
  margin-bottom:10px;
  margin-left:-7px;
}
#line2{
  border-bottom:1px solid gray;
  margin-bottom:10px;
  margin-left:-7px;
}
@media(max-width:800px){
  #grid{
    display:block;
  }
  #line{
    display:none;
  }
  #line2{
    display:none;
  }
  ol{
    border-right:none;
  }
  h1{
    border-bottom:none;
  }
}
